@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$background-color: #ffffff;
$table-header-background: #eceefb;
$text-color: #1d2452;
$secondary-text-color: #ffffff;
$list-color: #415ada;
$success-color: #3fb34f;
$required-color: #f5455a;
$enabled-background: #e1f6e9;
$enabled-color: #00a338;
$disabled-color: #5e6a75;
$disabled-background: #eef0f6;
$disabled-button-color: #9398c3;
$hover-button-color: #172384;
$ternary-text-color: #555b7d;

$header-gradient: linear-gradient(90deg, #161b40 0%, #2e3985 100%);

$font: "Inter", sans-serif;
